<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="laser" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />
    <arg name="slam_toolbox" default="false" />
    <arg name ="localization" default="false"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>

    <arg name="world_name" default="mowito"/>
    <arg name="gui" default="false"/>

    <!-- SIMULATION -->
    <!-- rosbot and the rviz-->
    <include file="$(find rosbot_description)/launch/rosbot_rviz.launch">
        <arg name="rviz_file" value="rosbot.rviz"/>
    </include>

    <!-- the world -->
    <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch">
        <arg name="world" value="$(find mowito_rosbot)/samples/worlds/$(arg world_name).world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
   
    <!-- NAVIGATION -->
    <!-- mapping node-->
    <group unless="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="/scan" /> 
        <arg name="laser_frame" value="laser" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>
    </group>
    
    <group if="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_slam_toolbox.launch">
        <arg name="localization" value="$(arg localization)"/>
        <arg name="base_frame" value="$(arg base_frame)"/>
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>
    </group>


    <!-- -for converting the odom msg to tf -->
    <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
        <param name="odometry_topic" value="/odom"/>
    </node>
    
    <!-- nav server-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/> 
        <arg name="rcvr_debug" value="$(arg debug)"/>  
    </include>

</launch>
