<launch>
    <arg name="map_name" default="mowito_map"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="world_name" default="mowito"/>
    <arg name="gui" default="false"/>
    <arg name="slam_toolbox" default="false" />
    <arg name ="localization" default="true"/>
    <arg name="scan_topic" default="/scan" /> 
    <arg name="base_frame" default="base_link" />
    <arg name="map_file_name" default="slam_map"/>
    <arg name="map_start_pose" default="[0.0, 0.0, 0.0]"/>
    <!-- rviz config file for visualization -->
    <arg name="rviz_file" default="rosbot.rviz"/>

    <!-- SIMULATION -->
    <!-- rosbot and the rviz-->
    <include file="$(find rosbot_description)/launch/rosbot_gazebo.launch" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot.xacro'"/>

    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_rviz.launch">
        <arg name="rviz_file" value="$(arg rviz_file)"/>
    </include>

    <!-- the world -->
    <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch">
        <arg name="world" value="$(find mowito_rosbot)/samples/worlds/$(arg world_name).world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- NAVIGATION -->
    <!-- localization node-->
    <group unless="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mwpfl.launch">
        <arg name="map_address" value="$(find mowito_rosbot)/samples/maps/$(arg map_name).yaml"/>
        <arg name="robot_init_x" value="0"/>
        <arg name="robot_init_y" value="0"/>
        <arg name="robot_init_phi" value="0"/>
        <arg name="sim" value="true"/>
    </include>
    </group>

    <group if="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_slam_toolbox.launch">
        <arg name="base_frame" default="$(arg base_frame)" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
        <arg name="localization" value="$(arg localization)"/>
        <arg name="map_file_name" value="$(arg map_file_name)"/>
        <arg name="map_start_pose" default="$(arg map_start_pose)"/>
    </include>
    </group>


    <!-- -for converting the odom msg to tf -->
    <node pkg="utils" type="msg_to_tf" name="msg_to_tf">
        <param name="odometry_topic" value="/odom"/>
    </node>

    <!-- nav server-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>    
        <arg name="rcvr_debug" value="$(arg debug)"/>    
    </include>
    
</launch>
