<launch>
  <arg name="debug" default="false"/>
  <arg name="respawn" default="false"/>
  <arg name="output_log" default="screen"/>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find controller_executive)/custom_config.conf" if="$(arg debug)"/>
  
  <node name="controller_executive" type="controller_action_node" pkg="controller_executive" output="$(arg output_log)" respawn="$(arg respawn)">
    <rosparam command="load" file="$(find mowito_rosbot)/config/controller_config/general_controller_params.yaml"/>
    <rosparam command="load" file="$(find mowito_rosbot)/config/controller_config/controller_action_server_params.yaml"/>
    <rosparam command="load" file="$(find mowito_rosbot)/config/controller_config/trajectory_planner_ros.yaml"/>
    <rosparam command="load" file="$(find mowito_rosbot)/config/controller_config/pure_pursuit_controller.yaml"/>
    <rosparam command="load" file="$(find mowito_rosbot)/config/controller_config/mw_maxl_planner.yaml" subst_value="True"/>
  </node>
</launch>
