<launch>
    <node pkg="tf" type="static_transform_publisher" name="ROSbot2_laser" args="0 0 0 3.14 0 0 base_link laser 10" />

    <!-- actual rosbot sensor-->
    <include file="$(find rosbot_ekf)/launch/all.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- MAPPING -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find mowito_rosbot)/config/slam_toolbox_config/slam_toolbox_mapping.yaml" />
    </node>

 
</launch>
