<launch>

    <arg name="scan_topic" default="/scan" /> 
    <arg name="laser_frame" default="laser" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />
    <arg name="slam_toolbox" default="false" />
    <arg name ="localization" default="false"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>

    <node pkg="tf" type="static_transform_publisher" name="ROSbot2_laser" args="0 0 0 3.14 0 0 base_link laser 10" />

    <!-- actual rosbot sensor -->
    <include file="$(find rosbot_ekf)/launch/all.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- mapping node-->
    <group unless="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="/scan" /> 
        <arg name="laser_frame" value="laser" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>
    </group>
    
    <group if="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_slam_toolbox.launch">
      <arg name="localization" value="$(arg localization)"/>
      <arg name="base_frame" value="$(arg base_frame)"/>
      <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>
    </group>


    <!-- nav server-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/> 
        <arg name="rcvr_debug" value="$(arg debug)"/>  
    </include>

</launch>
