<launch>
    <arg name="map_path" default="$(find mw_mapping)/maps/mowito_map.yaml"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>


    <!-- actual rosbot sensors -->
    <include file="$(find rosbot_ekf)/launch/all.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- localization node-->

    <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find mowito_rosbot)/config/slam_toolbox_config/slam_toolbox_localization.yaml" />
    </node>


    <!-- navigation stack-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>    
        <arg name="rcvr_debug" value="$(arg debug)"/>    
    </include>
    
</launch>
