<launch>
    <arg name="map_path" default="$(find mw_mapping)/maps/mowito_map.yaml"/>
    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="slam_toolbox" default="false" />
    <arg name ="localization" default="true"/>
    <arg name="scan_topic" default="/scan" /> 
    <arg name="base_frame" default="base_link" />
    <arg name="map_file_name" default="slam_map"/>
    <arg name="map_start_pose" default="[0.0, 0.0, 0.0]"/>

    <!-- actual rosbot sensors -->
    <include file="$(find rosbot_ekf)/launch/all.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

    <!-- localization node-->
    <group unless="$(arg slam_toolbox)">
        <include file="$(find mowito_rosbot)/launch/secondary_launch/start_mwpfl.launch">
            <arg name="map_address" value="$(arg map_path)"/>
            <arg name="robot_init_x" value="0"/>
            <arg name="robot_init_y" value="0"/>
            <arg name="robot_init_phi" value="0"/>
        </include>
    </group>

    <!-- with cartographer -->
    <group if="$(arg slam_toolbox)">
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_slam_toolbox.launch">
        <arg name="base_frame" default="$(arg base_frame)" />
        <arg name="scan_topic" value="$(arg scan_topic)" />
        <arg name="localization" value="$(arg localization)"/>
        <arg name="map_file_name" value="$(arg map_file_name)"/>
        <arg name="map_start_pose" default="$(arg map_start_pose)"/>
    </include>
    </group>


    <!-- navigation stack-->
    <include file="$(find mowito_rosbot)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_rosbot)/config/mission_executive_config/mission_executive_params.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>    
        <arg name="rcvr_debug" value="$(arg debug)"/>    
    </include>
    
</launch>
